<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Registration Complete</h5>
					Add another child? <a href="/api/child/new/{{pid}}" class="btn btn-primary">Add New child</a>
				<h2><a href="/">Return to Home Page</a></h2>
				</div>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>

<script></script>
